* {
	box-sizing	: border-box;
}
html,body{
	background-color: rgb(0,0,0,1);
	color: white;
	height: 98%;
	margin: 0;
	padding: 0;
}
.frame {
	padding: 100px 10% 100px 10%;
	/* padding: 10px 10px 10px 10px; */
	width		: 99%;
	height  : 100%;
	font-family: sans-serif;
}
.banner{
	color : rgb(102, 191, 255);
}
.repl{
	font-family: 'Lucida Sans', 
		'Lucida Sans Regular', 
		'Lucida Grande', 
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	float: right;
	width: 50%;
	padding: 100px;
}
.code{
	all: unset;
	width: 75%;
	padding: 5px 0 5px 0;
	color: rgb(190, 190, 190);
}
.result{
	color: rgb(190, 190, 190);
	width: 100%;
	margin: 0;
	padding: 0;
}
.canvas-container{
  float: left;
  padding: 100px;
}

